---
import ButtonPrimary from "./Buttons/ButtonPrimary.astro";
import MenuIcon from "./Icons/MenuIcon.astro";
import CloseIcon from "./Icons/CloseIcon.astro";
---

<header class="sticky top-4 z-10">
  <!-- Header desktop -->
  <header id="menu-desktop"
    class="bg-white items-center border py-2 px-4 m-4 rounded-full shadow-md"
  >
    <nav class="flex items-center justify-between w-full">
      <a href="#hero" class="text-xl font-bold">BM</a>
      <ul class="hidden md:flex gap-4 text-paragraph transition-colors duration-200 ">
        <li><a href="#about" class="hover:text-accent">Sobre mi</a></li>
        <li><a href="#project" class="hover:text-accent">Proyectos</a></li>
        <li><a href="#skills" class="hover:text-accent">Habilidades</a></li>
        <li><a href="#experiencie" class="hover:text-accent">Experiencia</a></li>
      </ul>
      <button id="open-menu-btn" class="md:hidden">
        <MenuIcon size="24" />
      </button>
      <div class="hidden md:block">
        <a href="https://drive.google.com/file/d/1ZLNtP-asaXDxiYStzzG8EWmiZIQEwPcM/view?usp=drive_link" target="_blank">
          <ButtonPrimary>Descargar CV</ButtonPrimary>
        </a>
      </div>
    </nav>
  </header>

  <!-- Header móvil -->
  <header
    id="mobile-menu"
    class="hidden sticky top-4 z-10 bg-white items-center border py-2 px-4 m-4 rounded-2xl shadow-md md:hidden"
  >
    <nav class="w-full">
      <div class="flex items-center justify-between w-full">
        <a href="#hero" class="text-xl font-bold">BM</a>
        <button id="close-menu-btn">
          <CloseIcon size="24" />
        </button>
      </div>
      <div class="w-full flex flex-col gap-4 justify-center mt-4">
        <ul class="w-full space-y-2">
          <li><a href="#about" class="hover:text-accent">Sobre mi</a></li>
        <li><a href="#project" class="hover:text-accent">Proyectos</a></li>
        <li><a href="#skills" class="hover:text-accent">Habilidades</a></li>
        <li><a href="#experiencie" class="hover:text-accent">Experiencia</a></li>
        </ul>
        <a class="w-full" href="https://drive.google.com/file/d/12hngAXPdX_Cm4K1C7YhtR2z6KQYuXEoZ/view" target="_blank">
          <ButtonPrimary>Descargar CV</ButtonPrimary>
        </a>
      </div>
    </nav>
  </header>
</header>

<script>
  const openBtn = document.getElementById("open-menu-btn");
  const closeBtn = document.getElementById("close-menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");
  const desktopMenu = document.getElementById("menu-desktop");

  const closeMenu = () => {
    mobileMenu.classList.add("hidden");
    desktopMenu.classList.remove("hidden");
  };

  openBtn?.addEventListener("click", () => {
    mobileMenu.classList.remove("hidden");
    desktopMenu.classList.add("hidden");
  });

  closeBtn?.addEventListener("click", closeMenu);

  // Cierra el menú móvil al hacer click en cualquier enlace dentro del menú móvil
  document
    .querySelectorAll("#mobile-menu a")
    .forEach(link => link.addEventListener("click", closeMenu));
</script>

