<section id="about" class="text-center w-full flex flex-col items-center py-6 space-y-2 px-2">
  <h2 class="text-3xl font-bold uppercase">Sobre mí</h2>
  <p class="max-w-5xl text-paragraph">
    Soy desarrollador frontend con <strong class="text-primary">2 años de experiencia</strong>, especializado en <strong class="text-primary">Vue 3</strong>, <strong class="text-primary">Nuxt 3</strong>, <strong class="text-primary">React</strong> y <strong class="text-primary">Tailwind CSS</strong>, con conocimientos en <strong class="text-primary">Express.js</strong>, <strong class="text-primary">Nest.js</strong> y <strong class="text-primary">PostgreSQL</strong> para backend. <br><br>
    He participado en el desarrollo de interfaces modernas y optimizadas, integrando APIs y mejorando la experiencia de usuario en entornos de alto rendimiento. Me mantengo al día con las últimas herramientas y metodologías, aportando soluciones creativas y eficientes que impulsan la calidad y la velocidad de entrega. <br><br>
    Mi enfoque es visual y estratégico: antes de escribir una línea de código, visualizo la arquitectura, el diseño y la interacción para garantizar productos funcionales, escalables y atractivos.
  </p>
</section>
