---
import Experiencie from "../components/Experiencie.astro";
---

<section id="experiencie" class="py-6 px-2 flex flex-col items-center">
        <header class="text-center">
          <h2 class="text-3xl font-bold uppercase">Experiencia</h2>
          <p class="text-paragraph">En este apartado puedes ver mis experiencias y trabajos en desarrollo.</p>
        </header>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-5 max-w-5xl">
          <Experiencie
            title="Frontend Developer / Metrix LA"
            date="Agosto 2024 - Agosto 2025"
          >
            Esta experiencia me ha permitido combinar habilidades técnicas y de
            diseño con una mentalidad estratégica, contribuyendo al crecimiento
            del equipo y asegurando soluciones ágiles y efectivas.
            <ul class="list-disc px-4 py-2">
              <li>
                Optimicé la UI con Vue.js, Nuxt 3 y Tailwind, mejorando la
                usabilidad y reduciendo tiempos de carga.
              </li>
              <li>
                Desarrollé componentes reutilizables en Figma con soporte para
                modo claro/oscuro.
              </li>
              <li>F
                Implementé pruebas automatizadas con Vitest para asegurar
                calidad y estabilidad.
              </li>
              <li>
                Colaboré en la creación de un sistema de diseño estandarizado.
              </li>
              <li>
                Participé en sprints y revisiones de código bajo la metodología
                Scrum.
              </li>
              <li>
                Brindé apoyo técnico al equipo, fomentando el aprendizaje
                colaborativo.
              </li>
            </ul>
          </Experiencie>
          <Experiencie
            title="Frontend Developer / LIAN BPO"
            date="Febrero 2024 - Agosto 2024"
          >
            Durante mi tiempo en LIAN BPO, tuve la oportunidad de crecer como
            desarrollador frontend, aplicando mis conocimientos para crear
            interfaces eficientes y colaborando en la optimización de
            aplicaciones.
            <ul class="list-disc px-4 py-2">
              <li>
                Diseñé e implementé interfaces con Vue.js y Tailwind CSS,
                mejorando la experiencia de usuario.
              </li>
              <li>
                Trabajé en equipo bajo la metodología Scrum, participando en
                sprints y revisiones de código para optimizar aplicaciones.
              </li>
              <li>
                Utilicé Git para el control de versiones, comprendiendo el flujo
                completo de desarrollo.
              </li>
            </ul>
            Esta experiencia fortaleció mis habilidades en diseño, programación y
            trabajo en equipo dentro de un entorno profesional.
          </Experiencie>
        </div>
</section>